body{
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
}

.left { 
	height:50vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;
}
.right { 
	height:50vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;
}

.card {
	height:100%;
	width:100%;
}

.limegreen {
	background-color: limegreen;
	width: 100%;
  	height: 100%;
}

.green{
	background-color: green;
	width: 100%;
  	height: 100%;
}
.mediumseagreen{
	background-color:mediumseagreen;
	width: 100%;
  	height: 100%;
}
.mediumspringgreen{
	background-color:mediumspringgreen;
	width: 100%;
  	height: 100%;
}
@media screen and (max-width: 800px){
	.left{
		height:50vh;
	    width:100vw;
	}
    .right{
		height:50vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap; 
	}
